# import libraries

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('C:\\Users\Admin\\Amllab\\Europe Hotel Booking Satisfaction Score.csv')
df

,id,Gender,Age,purpose_of_travel,Type of Travel,Type Of Booking,Hotel wifi service,Departure/Arrival convenience,Ease of Online booking,Hotel location,Food and drink,Stay comfort,Common Room entertainment,Checkin/Checkout service,Other service,Cleanliness,satisfaction
0,70172,Male,13,aviation,Personal Travel,Not defined,3,4,3,1,5,5,5,4,5,5,neutral or dissatisfied
1,5047,Male,25,tourism,Group Travel,Group bookings,3,2,3,3,1,1,1,1,4,1,neutral or dissatisfied
2,110028,Female,26,tourism,Group Travel,Group bookings,2,2,2,2,5,5,5,4,4,5,satisfied
3,24026,Female,25,tourism,Group Travel,Group bookings,2,5,5,5,2,2,2,1,4,2,neutral or dissatisfied
4,119299,Male,61,aviation,Group Travel,Group bookings,3,3,3,3,4,5,3,3,3,3,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,94171,Female,23,business,Group Travel,Individual/Couple,2,1,2,3,2,2,2,2,3,2,neutral or dissatisfied
103900,73097,Male,49,tourism,Group Travel,Group bookings,4,4,4,4,2,5,5,5,5,4,satisfied
103901,68825,Male,30,tourism,Group Travel,Group bookings,1,1,1,3,4,5,4,5,5,4,neutral or dissatisfied
103902,54173,Female,22,business,Group Travel,Individual/Couple,1,1,1,5,1,1,1,5,4,1,neutral or dissatisfied
103903,62567,Male,27,academic,Group Travel,Group bookings,1,3,3,3,1,1,1,4,3,1,neutral or dissatisfied

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 17 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              103904 non-null  int64
 1   Gender                          103904 non-null  object
 2   Age                             103904 non-null  int64
 3   purpose_of_travel               103904 non-null  object
 4   Type of Travel                  103904 non-null  object
 5   Type Of Booking                 103904 non-null  object
 6   Hotel wifi service              103904 non-null  int64
 7   Departure/Arrival  convenience  103904 non-null  int64
 8   Ease of Online booking          103904 non-null  int64
 9   Hotel location                  103904 non-null  int64
 10  Food and drink                  103904 non-null  int64
 11  Stay comfort                    103904 non-null  int64
 12  Common Room entertainment       103904 non-null  int64
 13  Checkin/Checkout service        103904 non-null  int64
 14  Other service                   103904 non-null  int64
 15  Cleanliness                     103904 non-null  int64
 16  satisfaction                    103904 non-null  object
dtypes: int64(12), object(5)
memory usage: 13.5+ MB

In [11]:
df['satisfaction'].unique()

array(['neutral or dissatisfied', 'satisfied'], dtype=object)

In [14]:
x=df.columns.drop("satisfaction")
y=df['satisfaction']
df_encoded=pd.get_dummies(df[x])
df_encoded.shape

(103904, 24)

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df_encoded,y,test_size=0.15,random_state=100)
print("shape of x_train:",x_train.shape)
print("shape of y_train:",y_train.shape)
print("shape of x_test:",x_test.shape)
print("shape of y_test:",y_test.shape)

shape of x_train: (88318, 24)
shape of y_train: (88318,)
shape of x_test: (15586, 24)
shape of y_test: (15586,)

In [25]:
from sklearn.linear_model import LogisticRegression
reg=LogisticRegression()
reg.fit(x_train,y_train)

LogisticRegression()

In [26]:
reg.coef_

array([[-2.91006603e-06, -7.64008761e-10,  1.96101756e-10,
        -3.16598580e-10,  4.69674950e-11, -2.26117276e-10,
         5.93372852e-11,  2.41267762e-10,  3.17936111e-10,
         7.16443907e-11,  3.32563139e-11,  1.86997120e-10,
        -4.55706512e-11, -3.04868267e-11, -2.05563625e-11,
        -1.17312320e-11, -1.36909205e-11, -6.59767964e-12,
        -2.34812833e-11,  1.71775769e-10, -2.47833247e-10,
         2.36574582e-10, -2.77718150e-10, -3.49139094e-11]])

In [28]:
reg.intercept_

array([-7.60574779e-11])